{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block title %}Iniciar Sesión - Sistema Trazabilidad{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        
        <div class="login-right">
            <h4 class="fw-bold mb-4 text-center">Iniciar Sesión</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">RUT</label>
                    <input
                        name="username"
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Ingrese RUT sin puntos ni guión"
                        required
                    >
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>

                    <div class="input-group">
                        <input
                            id="passwordInput"
                            name="password"
                            type="password"
                            class="form-control form-control-lg"
                            placeholder="Ingrese su contraseña"
                            required
                        >
                        <button
                            class="btn btn-outline-secondary"
                            type="button"
                            onclick="togglePassword('passwordInput', this)"
                        >
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                </div>
                <button type="submit" class="btn btn-ingresar w-100 mt-3 fw-semibold">
                    <i class="bi bi-box-arrow-in-right"></i> Ingresar
                </button>
            </form>
            <p class="text-center small mt-3">
                <a href="{% url 'usuarios:solicitar_reset_pw' %}" class="fw-semibold text-primary">
                    ¿Olvidaste tu contraseña?
                </a>
            </p>
            <p class="text-center small text-secondary">
                <i class="bi bi-shield-check"></i>
                Plataforma segura con roles diferenciados
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/toggle_password.js' %}"></script>
{% endblock %}
