{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4" style="max-width: 500px;">
    <h4 class="mb-3">Crear nueva contraseña</h4>
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Nueva Contraseña</label>
            <div class="input-group">
                <input id="pw1" type="password" name="password1" class="form-control" required>
                <button class="btn btn-outline-secondary" type="button"
                        onclick="togglePassword('pw1', this)">
                    <i class="bi bi-eye"></i>
                </button>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Repetir Contraseña</label>
            <div class="input-group">
                <input id="pw2" type="password" name="password2" class="form-control" required>
                <button class="btn btn-outline-secondary" type="button"
                        onclick="togglePassword('pw2', this)">
                    <i class="bi bi-eye"></i>
                </button>
            </div>
        </div>

        <button class="btn btn-success mt-4 w-100">
            Confirmar cambio
        </button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/toggle_password.js' %}"></script>
{% endblock %}


