{% extends 'base.html' %}

{% block content %}
<div class="container mt-4" style="max-width: 500px;">
    <h4 class="mb-3">Crear nueva contraseña</h4>
    <form method="post">
        {% csrf_token %}
        
        <label>Nueva contraseña</label>
        <input type="password" name="password1" class="form-control" required>

        <label class="mt-3">Repetir contraseña</label>
        <input type="password" name="password2" class="form-control" required>

        <button class="btn btn-success mt-4 w-100">
            Confirmar cambio
        </button>
    </form>
</div>
{% endblock %}
